@charset "UTF-8";
@font-face {
    font-family: 'retro';
    src: url('/retroking/Retroking.ttf') format(truetype);
}

@font-face {
    font-family: 'clo';
    src: url('cloister_black/CloisterBlack.ttf') format(truetype);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(45deg, black, rgb(0, 0, 161));
    height: 100vh;
    color: #fff ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: rgb(187, 225, 255);
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: rgb(94, 67, 116);
    text-decoration: underline;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.705);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px ;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(63, 63, 63);
    border: none;
    color: #fff;
}

button:hover {
    background-color: black;
}

#resultado {
    background-color: #fff;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px ;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
}

h1 {
    font-family:'retro';
}

h2 {
    align-items: center;
    font-family: 'clo';
    font-size:xx-large;
}